body{
    background-color: black;
}
.content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 700px;
    height: 600px;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
}
.corporate-clients{
    margin-top: 40px;
    margin-left: 20px;
    font-family: Sora, serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.personal-information{

    font-size: 17px;
    line-height: 18px;
    font-family: Sora, serif;
    margin-left: 20px;
    margin-top: 24px;
}
.data{
    width: 180px;
    height: 48px;
    border: 1px solid #AEAEAE;
    border-radius: 8px;
    padding-left:16px;
    opacity: 0.5;
}

.last-name{
    margin-left: 24px;
    margin-right: 8px;
}
.name{
    margin-right: 8px;
}
.passport{
    font-size: 17px;
    line-height: 18px;
    margin-left: 24px;
}
.date-birth{
    width: 180px;
    height: 48px;
    opacity: 0.5;
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 24px;
    margin-right: 8px;
    padding-left: 16px;
}
.address{
    width: 408px;
    height: 48px;
    opacity: 0.5;
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
}

.basic{
    width: 200px;
    height: 48px;
    opacity: 0.5;
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
    margin-top: 16px;
    margin-right: 8px;
}

.contact-number{
    margin-left: 24px;
}
.fact-address{
    width: 408px;
    height: 48px;
    opacity: 0.5;
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
    margin-top: 16px;
    margin-right: 8px;
}

.mesto{
    margin-left: 24px;
}

.next1{
    border: 1px solid black;
    background-color: black;
    width: 384px;
    height: 48px;
    margin-top: 60px;
    margin-left: 140px;
    padding: 10px 0;
    color: white;
}

/* .next a{
    text-decoration: none;
    color:white;
    letter-spacing: 1px;
    font-size: 20px;
} */

.verify{
    width: 500px;
    height: 100px;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    top: -45px;
    color: #084298;
    background-color: #cfe2ff;
    display: none;
}

.d-block{
    display: block!important;
}